
@import '../_custom';

.display-2 {
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;


    &--intro {
        display: inline-block; 
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
       
    }

    @media (max-width: 1000px) {
        &--intro {
          font-size: 1.5rem;
        }
      }
    &--description {
        margin-top: 2rem;
        font-size: 1.2rem;
        display: block;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            display: inline-block;
        }

        @media (max-width: 767px) {
            .caption {
              font-size: 1rem;
            }
          }

       
    }
}

